 <div class="container-fluid">
     <div class="col-md-2">
         {{name}}
     </div>
     <div class="col-md-2">
        {{city}}
     </div>
     <div class="col-md-2">
        {{offset}}
     </div>
     <div class="col-md-4">
         {{hour}}:{{minute}}:{{second}}
     </div>
     <div class="col-md-2">
        <button id="delete" class="btn btn-sm btn-default"><span class="fa fa-remove"></span> Delete</button>
    </div>
</div>
<br/>
